*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  body{
     background-color: white;
     min-height: 100vh;
  }
  a{
      text-decoration: none;
  }
  ul{
      list-style: none;
  }
  button{
      border: none;
  }

  nav{
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      align-items: center;
      min-height: 6vh;
      background-color: black;
  }
  .logo{
      width: 70%;
  }
  .logo h3{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  #menu-1{
      display: flex;
      justify-content: space-around;
      width: 30%;
  }
  #menu-1 a{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  #hero{
      background-color: black;
      height: 94vh;
      width: 100%;
      background-image: url(images/Group\ 1.png);
      background-size:     cover;                    
      background-repeat:   no-repeat;
      background-position: center center;
      box-shadow: inset 0px 10px 15px #000000, inset -15px -10px 10px #000000;
  }
  #hero-header{
      display: flex;
      position: relative;
      overflow: hidden;
      height: 100%;
  }
  #hero-images{
      width: 60%;
  }
  #tiago{
      height: 100%;
      z-index: 3;
      position: absolute;
  }
  #vector{
      margin: -40px;
      z-index: 2;
      position: absolute;
      height: 140%;
  }

  #hero-text{
      width: 40%;
      margin: 0% auto;
      display: flex;
      align-items: center;
  }
  #htext{
    text-align: center;
    margin: auto;
    margin: 20px;
  }

  #htext h3{
      font-size: 28px;
      font-weight: 400;
      color: #0085FF;
  }

  #htext h2{
    font-size: 50px;
    font-weight: 800;
    color: white;
}
#story{
    height: 60vh;
    background-color: #004686;
    background-image: url(images/image\ 4.png);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#story-text{
    width: 900px;
    text-align: center;
}
#story-text h3{

    font-size:36px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
}


#story-text p{

    font-size:18px;
    font-weight: 400;
    color: white;
}

#services{
    background-color: black;
    background-image: url(images/image\ 4.png);
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;   
}
#services-text{
    width: 900px;
    text-align: center;
    flex:1;
    margin: 30px auto;
}

#services-text h3{
    font-size:36px;
    font-weight: 800;
    color: white;
    margin-bottom: 40px;
}
#services-q h4{
    font-size:24px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
}
#d-line{
    
    margin: 40px auto;
    width: 250px;
    height: 0.5px;
    display: block;
    background-color: #004686;
}
#services-q p{
    color: white;
}
#tlist{
    text-align: left;
    display: inline-block;
    width: 600px;
}

#services-q2{
    display: inline-block;
    width: 600px;
    text-align: center;
}

#services-q2 h4{

    font-size:24px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}
#s-text{
    
    text-align: left;
    display: inline-block;
}
#services-q2 h4{

    font-size:24px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}
#s-text h6{
    font-size:16px;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;

}
#s-text p{
    
    font-size:12px;
    font-weight: 300;
    color: white;
}

#s-text h5{
    text-align: center;
    font-size:14px;
    font-weight: 400;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;

}